@import 'loaders.css/src/animations/ball-clip-rotate-multiple.scss';
html, body, #root {
    height: 100%;
}

$primary-background: #222;

.main-full-height {
    height: 100vh;
}

body {
    background-color: $primary-background;
}

.main{
    background-color: $primary-background;
    color: #fff;
    display: flex;
    justify-content: center;

    .main--results {
        margin-top: 10px;
        display: flex;
    }

    .loader {
        margin: 50px auto;       
        transform: scale(1.5, 1.5);
    }

    .checks {
        padding: 10px 0;
        display: flex;
        div {
            margin-right: 10px;
            label {
                margin-left: 10px;
            }
        }
    }
}

.main--container {
    margin-top: 40px;
    width: 600px;
}

.main--container h1 {
    color: #fff;
    font-family: sans-serif;
}

.main--input {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}
